.cart_item {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    line-height: 0px;
} 

.cart_item > p {
    flex: 1;
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    margin-top: 150px;
}